@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1d212b;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:nth-child(1) {
  color: #fff;
}

section:nth-child(2) {
  color: #1d212b;
  background: #fff;
}

section:nth-child(3) {
  color: #fff;
}

section:nth-child(4) {
  color: #1d212b;
  background: #fff;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 60px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards {
  display: flex;
}

section .cards .text-card {
  background-color: #2696e9;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }
}

/* reveal */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
